 /* main list */
 li {
     list-style: none;
     padding-left: 20px;
     position: relative;
 }

 /* dropdown display none */
 li ul.dropdown {
     width: 100%;
     display: none;
 }

 /* dropdown active */
 .activeul {
     display: block;
     margin-top: 20px;
 }

 /* main list title */
 .title {
     text-decoration: none;
     font-size: 1.3rem;
     font-weight: 600;
     color: #fff;
     transition: 0.3s ease-in-out;
     border-bottom: 2px solid #17cf97;
 }

 /* dropdown items */
 .items {
     text-decoration: none;
     font-size: 1rem;
     font-weight: 400;
     color: #fff;
     letter-spacing: 3px;
     margin-bottom: -18px;
 }

 /* hover efect on all */
 li a:hover {
     color: #17cf97;
 }
