* {
    font-family: 'Ubuntu', sans-serif;
}
/* logo styling  */
.logo {
    margin-left: 10px !important;
    border: none !important;
    padding: 0 !important;
    margin-top: 0px;
    margin-bottom: 0px;
}
/* navbar list items */
a {
    margin: 0px 10px;
    width: fit-content;
    text-decoration: none;
}
/* book links styling at the end of each page */
.booklink {
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 3px;
    border: 1px solid;
    margin-bottom: 100px !important;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.booklink a {
    border: none !important;
}

/* Slider */
.slider {
    border: 2px solid;
    height: 80vh;
    width: 60vw;
    display: flex;
    overflow: auto;
    margin: 0 auto;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .slider {
        width: 95vw;
    }

    .list {
        display: flex;
        width: 98vw;
        overflow: auto;
    }

    a {
        margin: 20px auto;
        width: fit-content;
        border: 2px solid gray;
        color: gray;
        padding: 5px 55px;
        border-radius: 10px;
    }

    .active {
        background-color: gray;
        color: white;
    }
}