
.slider{
    width: 100vw;
    max-height: 99vh;
    overflow: auto;
    border: 1px solid;
}

.slider img{
    width: 100%;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 200px;
}
.link a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}